.navbar{
	box-shadow: 0 3px 6px #999, 0 3px 6px #999;
}
.button{
	border: none;
}
.navbar-brand {
	text-align: center;
	font-size: 2.5rem;
	padding: 0 20px;
}
.logo{
	margin-left: 40px;
}
.search{
	border: none !important;
	
}

.title{
	color: #98B7C8;
}
.logo>.subtitle{
  color: #98B7C8;
}
.navbar{
	background-color: white;
	width: 100%;
	height: 100%;
	margin: 0;
}
.navbar-menu{
	margin-top: 20px;
}
.search-input{
	margin-left: 80px;
	width: 300px;
}
.input.is-active, .input.is-focused, .input:active, .input:focus, .textarea.is-active, .textarea.is-focused, .textarea:active, .textarea:focus, .button:focus:not(:active), .button.is-focused, .button:focus{
	border-color: #9EC7DD;
	box-shadow: 0 0 0 0.125em rgba(22, 93, 128, 0.25);
}

.cart{
	font-size: 1.25em;
	padding: 5px 10px;
	margin-right: 25px;
	margin-top: 0;
	color: #000;
}
button.search{
	margin-left: 10px;
	font-size: 1em;
	padding: 0 15px;
	color: #9EC7DD;
	border: none;
}

.dashboard, .google-login, .sell-with-us{
	height: 1.5em;
	font-size: .7em;
	margin: 7px 15px;
	/*margin-top: 40px;*/
	color: #9EC7DD;
}

.header-links{
	padding-top: 7px;
}

.sell-with-us{
	padding-right: 27px;
	border-right: solid 1px black;
}

.dashboard{
	padding-right: 27px;
	border-right: solid 1px black;
	color: #9EC7DD;
}

.navbar-end{
	margin-left: 100px;
}

.log-out{
	padding-left: 27px;
	color: #9EC7DD;
}

.google-login{
	color: #9EC7DD;
}
