.button{
	border: none;
}
.navbar-brand {
	text-align: center;
	font-size: 2.5rem;
	padding: 0 30px;
}
.logo{
	  color: #9EC7DD;
	  font-family: 'Nosifer', cursive;
}

.navbar{
	background-color: white;
	width: 100%;
	height: 100%;
	margin: 0;
}
.navbar-menu{
	margin-top: 20px;
}
.search-input{
	margin-left: 170px;
	width: 300px;
}
.input.is-active, .input.is-focused, .input:active, .input:focus, .textarea.is-active, .textarea.is-focused, .textarea:active, .textarea:focus, .button:focus:not(:active), .button.is-focused, .button:focus{
	border-color: #9EC7DD;
	box-shadow: 0 0 0 0.125em rgba(22, 93, 128, 0.25);
}

.cart{
	font-size: 1.25em;
	padding: 5px 10px;
	margin-right: 25px;
	margin-top: 0;
	color: #000;
}
button.search{
	margin-left: 10px;
	font-size: 1em;
	padding: 0 15px;
	color: #9EC7DD;
/*	box-shadow: 0 0 0 0.125em rgba(22, 93, 128, 0.25);*/

}

.seller-login, .sell-with-us{
	height: 1.5em;
	font-size: .7em;
	margin: 7px 15px;
	margin-top: 13px;
	color: #9EC7DD;
}

.sell-with-us{
	padding-right: 27px;
	border-right: solid 1px black;
}

