.card {
  height: 324px;
  width: 324px;
  border-radius: 4.5px;
  overflow: hidden;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  position: relative;
  margin-bottom: 25px;
}

.image1 {
  height: 150px;
  width: 200px;
  float: left;
  border-right: solid 1px white;
}
.image2, .image3{
  height: 75px;
  width: 124px;
  float: right;
}
.image2 {
  border-bottom: solid 1px white;
}

.store-image{
  border: solid 3px white;
  height: 130px;
  width: 130px;
  border-radius: 100%;
  position: absolute;
  top: 27%;
  left: 30%;
}
.card-content{
  position: absolute;
  top: 60%;
  text-align: center;
  width: 100%;
}
.storeName{
  font-family: 'Nosifer', cursive;
  color:;
}
.description{
  color: #5F7181;
}


/*

.card > .img-container {
  height: 60%;
  overflow: hidden;
  text-align: center;
  background:#6CADDC;
}
.card > .img-container > img {
  width: 60%
}

.card > .content {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 15px;
}

.card > .content > ul {
  list-style-type: none;
}

.card > .content > ul > li {
  margin-top: 18px;
}

.card > .remove {
  color: #ff1744;
  font-size: 48px;
  position: absolute;
  top: -20px;
  right: 5px;
  cursor: pointer;
}

.card > .remove:hover {
  color: #d50000;
}
*/