.checkout-item-image{
	height: 50px;
	width: 70px;
}
.checkout-item-box{

}
.checkout-item-title{
	font-size: 1.2em;
	display: inline-block;
	margin-left: 100px;
	margin-top: 15px;
}
.checkout-item-quantity-and-total{
	display: inline-block;
	float: right;
	padding: 10px;
}

.checkout-item-remove{
	position: relative;
	margin-top: 10px;
	margin-right: 15px;
	margin-left: 25px;
	padding: 5px;

	font-size: 1em;
}