
.card {
  height: 375px;
  width: 324px;
  border-radius: 3.5px;
  overflow: hidden;
  position: relative;
  margin: 30px;
}
.card:active, .card:hover{
  box-shadow: 0 6px 12px #999, 0 6px 12px #999;
}

.upload-card-header{
  text-align: center;
  margin-bottom: 6px !important;
  padding-left: 73px;
}

.form-card-content{
  padding-top: 0;
}
label{
  font-size: .85em;
}

.new-product{
  font-size: .6em;
}

.new-product:active, .new-product:hover{
  box-shadow: 0 6px 12px #999, 0 6px 12px #999;
}

button.submit-button{
  margin-top: 0;
  margin-left: 100px; 
  border: 1px solid #5F7181;
}

form{
  color: #5F7181;
}

