
.product-card{
  height: 375px;
  width: 324px;
  border-radius: 3.5px;
  overflow: hidden;
  position: relative;
  margin: 30px;
}
.product-card:active, .product-card:hover{
  box-shadow: 0 6px 12px #999, 0 6px 12px #999;
}

.card__back, .card__front{
  position: absolute;
    -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s;
          transition: transform 0.3s;
}

.card__back {
 
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card.effect__hover:hover .card__front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card.effect__hover:hover .card__back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

.add-product-to-cart {
  background-color: grey;
  opacity: .5;
}
.add-product-to-cart-button{
 margin-left: 86px;
 margin-top: 130px;
 font-size: 1.5em;
}

.product-price{
  font-size: 1.5em;
  color: #5F7181;
  font-family: 'Source Sans Pro', sans-serif;
  /*margin-right: 100%;*/
  float: left;
  padding: 3px;

}

img{
  border: none;
}
.card-image{
  margin: 0;
  padding: 0;

}

.product-image{
  height: auto;
  max-height: 190px;
  width: 298px;
  
  margin: 5%;
  overflow: hidden;
  margin-left: ;
  border-radius: 2%;
}
.product-card-content{
  
  top: 60%;
  text-align: center;
  width: 100%;
  padding-bottom: 15px;
  padding-top: 12px;
  overflow: scroll;
}
.productName{
  font-family: 'Open Sans', sans-serif;
  color: #657E8C;
  font-weight: bold;
}

.description{
  color: #5F7181;
  font-family: 'Source Sans Pro', sans-serif;
  height: 70px;
  width: 250px;
  overflow: scroll;
}



button.button{
    /*color: #98B7C8;*/
  margin: 5px;
  border: 0.5px solid #4a4a4a;
}



button.remove{
  color: red;
  border: 1px solid black;
}
.remove:hover{
  color: black;
}

