
.product-card {
  height: 375px;
  width: 324px;
  border-radius: 3.5px;
  overflow: hidden;
  position: relative;
  margin: 30px;
}
.product-card:active, .product-card:hover{
  box-shadow: 0 6px 12px #999, 0 6px 12px #999;
}
.product-price{
  font-size: 1.5em;
  color: #5F7181;
  font-family: 'Source Sans Pro', sans-serif;
  /*margin-right: 100%;*/
  float: left;
  padding: 3px;

}

img{
  border: none;
}

.product-image{
  height: 175px;
  margin: 5%;
  margin: 15px 15px 15px 47px;
  margin-left: ;
  border-radius: 2%;
 
  
}
.product-card-content{
  
  top: 60%;
  text-align: center;
  width: 100%;
  padding-bottom: 15px;
  padding-top: 12px;
  overflow: scroll;
}
.productName{
  font-family: 'Open Sans', sans-serif;
  color: #657E8C;
  font-weight: bold;
}

.description{
  color: #5F7181;
  font-family: 'Source Sans Pro', sans-serif;
}







button.remove{
  color: red;
  border: 1px solid black;
}
.remove:hover{
  color: black;
}

