
.store-name{
	max-width: 1140px;
}
.title, .subtitle{
	text-align: center;

}
.title{
	font-family: 'Roboto Slab', serif;
}
.subtitle{
	font-family: 'Source Sans Pro', sans-serif;
	color: #98B7C8;
}
.hero-body{
	/*background-color: #F7FBFD; */
	border-bottom: 3px solid #F7FBFD;
}
.card{
	display: inline-block;
}

.section{
	/*padding-left: 10%;*/
	width: 100%;
	height: 100%;
	position: absolute;
	/*background-color: #F7FBFD; */
}
